.button {
  cursor: pointer;
  border: none;
  background-color: var(--white);
  font: var(--button);

  &:focus {
    outline: 0;
  }
}

.button--large {
  height: 40px;
  width: 295px;
  color: var(--gray-6);
  background-color: var(--gray-1);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-1);
}

.button--squareSharp {
  height: 22px;
  width: 22px;
  color: var(--gray-1);
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-1);
  padding: 0em;
}

.button--squareSharp:hover {
  background-color: var(--gray-1);
}

.button--squareSharp:hover path {
  stroke: var(--gray-6);
}

.button--floating {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.button--qtdinfo {
  padding: 0px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  /* identical to box height, or 12px */
  text-align: center;
  color: var(--white);
}

.button--outline {
  width: auto;
  height: 22px;
  padding: 0 10px;
  border: none;
  background: none;
  color: var(--red);
  font: var(--body-2);
}

.containersizes {
  position: relative;
  padding-left: 38px;
  margin-bottom: 12px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  text-align: center;
  /* Gray 1 */
  color: var(--gray-1);
}

.containersizes--large {
  padding-left: 46px;
}

/* Hide the browser's default radio button */
.containersizes--input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: -6px;
  left: 0;
  width: 34px;
  height: 34px;
  /* Gray 4 */
  border: 1px solid var(--gray-4);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  padding-top: 3px;
}

/* On mouse-over, add a grey background color */
.containersizes--input:hover ~ .checkmark {
  background-color: var(--gray-5);
}

/* When the radio button is checked */
.containersizes--input:checked ~ .checkmark {
  background-color: var(--gray-1);
  color: var(--white);
}

.checkmark--large {
  width: 42px;
}
