.button {
  cursor: pointer;
  height: 40px;
  width: 100%;
  background-color: var(--gray-1);
  font: var(--button);
  color: var(--gray-6);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-1);
}

.button--floating {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.button--outline {
  width: auto;
  height: 22px;
  padding: 0 10px;
  border: none;
  background: none;
  color: var(--red);
  font: var(--body-2);
}
