.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  text-align: center;
  width: calc(25% - 16px);
  margin: 16px 0;
}

@media screen and (max-width: 800px) {
  .product-card {
    width: calc(50% - 48px);
  }
}

.product-card img {
  width: 100%;
}

.product-name {
  width: 100%;
  margin: 1rem 0 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-regular-price {
  width: 100%;
  font: var(--caption);
}

.product-regular-price--sale {
  font: var(--caption);
}

.product-actual-price--sale {
  margin-right: 1rem;
  font-size: 0.8rem;
  color: #a7a7a7;
  text-decoration: line-through;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
