.card {
  text-align: center;
  width: calc(25% - 16px);
  margin: 16px 0;
  position: relative;
}

@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 48px);
  }
}

.card img {
  width: 100%;
}

.card__name {
  width: 100%;
  margin: 1rem 0 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__regular-price {
  width: 100%;
  font: var(--caption);
}

.card__regular-price--sale {
  font: var(--caption);
}

.card__actual-price--sale {
  margin-right: 1rem;
  font-size: 0.8rem;
  color: #a7a7a7;
  text-decoration: line-through;
}

.card__price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__discount-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff; 
}