.countries {
  display: flex;
}

.countries__flag img {
  border-radius: 2px;
}

.countries__flag--not-selected {
  :not(:hover) {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}
