.footer {
  background-color: #efefef;
  height: 285px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container-footer {
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

.footer-social-icon {
  display: flex;
  font-size: 20px;
  position: relative;
  border-radius: 1em;
  justify-content: space-between;
  align-content: center;
  width: 150px;
  height: auto;
}
.text-footer {
  display: flex;
  font-size: 8px;
  padding-top: 30px;
}

.footer__primary {
  display: flex;
  justify-content: center;
}

.item--footer {
  list-style-type: none;
  padding: 0px;
  line-height: 23px;
}

.item__footer-link {
  text-decoration: none;
  color: var(--gray-1);
}

.footer h3 {
  display: block;
  font-size: 1.17em;
  align-content: center;
  font-weight: bold;
}

.footer--infos {
  width: 100px;
  padding: 10px;
}

.footer--infos--item {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer__rights {
  border-top: 1px solid #cccccc;
  overflow: hidden;
  font-size: 12px;
  line-height: 12px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.center-this {
  display: table;
  margin: auto;
  text-align: center;
}
