.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 375px;
  transform: translateX(100%);
  height: 100vh;
  background: #f9f9f9;
  transition: transform 0.2s ease;
  z-index: 2;
}

.modal--is-on {
  transform: translateX(0);
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.2s ease;
  z-index: 2;
}

.modal__overlay--is-on {
  transform: translateX(0);
  opacity: 0.5;
}

.modal__header {
  display: flex;
  align-items: center;
  padding-left: var(--padding-1);
  width: 100%;
  height: 55px;
  background-color: var(--white);
}

.modal__title {
  padding-left: var(--padding-1);
  font-size: var(--body-2);
  font-weight: bold;
  color: var(--gray-1);
}

.modal__search {
  background-color: #f6f6f6;
  height: 56px;
  width: 100%;
  box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__search-input {
  background: #ffffff;
  border-radius: 4px;
  border: none;
  color: #212529;
  padding: var(--padding-2);
  margin: var(--margin-2);
  font-size: var(--body-2);
  font-weight: 600;
  height: auto;
  width: 100%;
}

.modal__search-list {
  overflow: auto;
  height: 100%;
  margin-top: var(--margin-2);
  padding: var(--padding-1);
}

.modal__empty-list {
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  color: var(--gray-3);
}

.modal__card {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-5);
}

.modal__card--is-search {
  cursor: pointer;
}

.modal__card-product {
  display: flex;
  padding: var(--padding-2) 0;
}

.modal__product-image {
  display: flex;
  flex-direction: column;
}

.modal__card-product img {
  width: 25%;
}

.modal__product-info {
  display: flex;
  flex-direction: column;
}

.modal__product-name {
  padding: 0 var(--padding-2);
  font-size: var(--heading-3);
  font-weight: bold;
}

.modal__card-payment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-2) 0;
}

.modal__card-price {
  font-size: var(--heading-2);
  font-weight: bold;
  margin-bottom: var(--margin-2);
}

.modal__card-installments {
  font-size: var(--caption);
  color: var(--gray-4);
}
