:root {
  --heading-1: bold 1.25em; //20px
  --heading-2: bold 1em; //16px
  --heading-3: bold 0.8em; // 12.8px
  --heading-4: bold 0.64em; // 10px
  --body-1: 1em;
  --body-2: 0.875em;
  --caption: 0.8em;
  --button: 1em;

  --gray-1: #222222;
  --gray-2: #484848;
  --gray-3: #6e6e6e;
  --gray-4: #bdbdbd;
  --gray-5: #e0e0e0;
  --gray-6: #f2f2f2;

  --red: #cf3838;
  --white: #fff;

  --border-radius: 5px;

  --padding-1: 12px;
  --padding-2: 10px;
  --padding-3: 8px;
  --padding-4: 6px;
  --padding-4: 4px;

  --max-width: 1280px;
}
