:root {
  --heading-1: 1.25rem; //20px
  --heading-2: 1rem; //16px
  --heading-3: 0.8rem; // 12.8px
  --heading-4: 0.64rem; // 10px
  --body-1: 1rem; // 16px
  --body-2: 0.875rem; // 14px
  --caption: 0.8rem; // 12.8px
  --button: 1rem; // 16px

  --gray-1: #222222;
  --gray-2: #484848;
  --gray-3: #6e6e6e;
  --gray-4: #bdbdbd;
  --gray-5: #e0e0e0;
  --gray-6: #f2f2f2;

  --red: #cf3838;
  --white: #fff;

  --border-radius: 5px;

  --padding-1: 12px;
  --padding-2: 10px;
  --padding-3: 8px;
  --padding-4: 6px;
  --padding-5: 4px;

  --margin-1: 12px;
  --margin-2: 10px;
  --margin-3: 8px;
  --margin-4: 6px;
  --margin-5: 4px;

  --max-width: 1280px;
}
