.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home_loader {
  width: calc(25% - 16px);
  height: auto;
}

@media screen and (max-width: 800px) {
  .home_loader {
    width: calc(50% - 48px);
    height: auto;
  }
}
